@use "../../assets/styles/variable" as *;

.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: $cardConatiner;

  &__img {
    width: 100%;
    padding: 10%;
    height: 250px;
    object-fit: contain;
  }

  &__title {
    text-align: center;
  }

  &__Abv {
    text-align: center;
    margin: 5px 0px;
  }

  &__description {
    text-align: center;
    padding: 2%;
  }
}
